<fieldset>
  <legend>Kunde</legend>
  <datalist id="customers">
    {% for c in customers %}<option value="{{ c.customer_name }}" data-street="{{ c.customer_street }}" data-city="{{ c.customer_city }}"></option>{% endfor %}
  </datalist>
  <label class="span-2">Name / Firma
    <input name="customer_name" list="customers" value="{{ form.customer_name or '' }}" maxlength="80" required data-customer-autofill>
  </label>
  <label>Straße und Nr.
    <input name="customer_street" value="{{ form.customer_street or '' }}" maxlength="80" required>
  </label>
  <label>PLZ und Ort
    <input name="customer_city" value="{{ form.customer_city or '' }}" maxlength="80" required>
  </label>
</fieldset>
